header
    display flex
    justify-content space-between
    align-items center
    background #1e3799
    color #CCC
    padding 0 30px
    box-shadow 0 3px 15px rgba(0,0,0,.35)

    nav
        display flex

    nav a
        display block
        padding 30px 30px
        text-decoration none
        color #FFF
        &:hover
            background rgba(255,255,255,.05)

.container
    max-width 90vw
    margin 50px auto